* {
	font-family: "Iosevka";
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

button {
	box-shadow: none;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(57, 63, 69, 0.75);
}

button:hover {
	background: rgba(57, 63, 69, 0.75);
}

#waybar {
	background-color: rgba(28, 32, 35, 0.75);
	border-bottom: 2px solid rgba(57, 63, 69, 0.75);
	color: #c7ccd1;
}

#workspaces button {
	background-color: #1c2023;
	color: #c7ccd1;

}

#workspaces button.focused {
	background-color: #95aec7;
	color: #1c2023;
}

#mode {
	padding: 0 5px;
	background-color: #c7c795;
	color: #1c2023;
	border-bottom: 2px solid rgba(57, 63, 69, 0.75);
}

#tray {
	padding: 0 10px;
}

#clock,
#temperature,
#disk,
#memory,
#network
{
	padding: 0 12px 0 10px;
	border-right: 2px solid rgba(57, 63, 69, 0.5);
}
